@charset "ISO-8859-1";
html,
body,

.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: .10rem;
}

.table-scroll {
  border-radius: .10rem;
}

thead {
  top: 0;
  position: sticky;
}